@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-Gray1: #333333;
  --color-Gray2: #4f4f4f;
  --color-Gray3: #828282;
  --color-Gray6: #f2f2f2;
  --color-Gray7: #bdbdbd;
  --color-Blue1: #2f80ed;
  --color-Purple1: #8785ff;
  --color-Orange1: #f8b76b;

  --font-lato: 'Lato', sans-serif;

  --breakpoint-3xl: 1920px;
}

.pop-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
